// colors
$accent-color: darken(#0a84ff, 10%);
$accent-background-color: darken(#0a84ff, 10%);
$accent-background-text-color: rgba(255, 255, 255, 0.9);
$accent-background-text-color-secondary: rgba(0, 0, 0, 0.75);

$background-color: hsl(220, 13.8%, 21.4%) !important;
$background-color-hover: rgba(0, 0, 0, 0.15) !important;
$secondary-background-color: hsl(220, 13.8%, 17.4%) !important;
$tertiary-background-color: rgba(0, 0, 0, 0.2) !important;
$info-background-color: rgba(255, 255, 255, 0.05);

$text-color: mix(white, hsl(220, 13.8%, 21.4%), 50%) !important;
$text-color-hover: mix(white, hsl(220, 13.8%, 21.4%), 65%) !important;
$text-color-disabled: mix(white, hsl(220, 13.8%, 21.4%), 15%) !important;
$text-color-success: #058B00 !important;

$tabs-background-hover-color: rgba(255, 255, 255, 0.05) !important;
$tabs-background-hover-line-color: rgba(255, 255, 255, 0.075) !important;

$popup-arrow-color: 'hsl(220, 13.8%, 21.4%)';
$popup-box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.25) !important;

$border-radius: 3px;

$toolbar-fontsize: 95% !important;

// utils
$u-reset-color: rgba(0,0,0,0) !important;
