@charset "UTF-8";
:root {
  --chrome-background-color: #2f343e !important;
  --chrome-secondary-background-color: #262a32 !important;
  --url-and-searchbar-background-color: rgba(0, 0, 0, 0.2) !important;
  --lwt-toolbar-field-background-color: rgba(0, 0, 0, 0.2) !important;
  --chrome-color: #979a9f !important;
  --lwt-text-color: #979a9f !important;
  --chrome-nav-bar-controls-border-color: rgba(0, 0, 0, 0) !important;
  --panel-separator-color: rgba(0, 0, 0, 0) !important;
}

.browserContainer {
  background-color: #2f343e !important;
}

/* tabs */
#navigator-toolbox {
  --tabs-border-color: rgba(0, 0, 0, 0) !important;
}

.tabbrowser-tab {
  --tab-line-color: #0a84ff;
  --tab-loading-fill: #0a84ff;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  overflow: hidden;
  font-size: 95% !important;
}

.tabbrowser-tab:not([selected=true]) {
  opacity: .6;
}

.tabbrowser-tab:not([selected=true]) .tab-icon,
.tabbrowser-tab:not([selected=true]) .tab-icon-image {
  filter: grayscale(1) brightness(0.9) invert(1);
  opacity: .3;
}

.tabbrowser-tab:not([selected=true]):hover .tab-icon,
.tabbrowser-tab:not([selected=true]):hover .tab-icon-image {
  filter: none;
  opacity: .6;
}

.tabbrowser-tab:hover:not([selected=true]) {
  opacity: 1;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: 0 !important;
}

.tabbrowser-tab .tab-line[selected="true"] {
  opacity: .75 !important;
}

.tab-background[selected="true"] {
  border: 0 !important;
}

.tab-content {
  padding: 0 9px !important;
}

.tab-content .tab-close-button .toolbarbutton-icon {
  transform: scale(0.8) translateX(3px);
}

.tabs-newtab-button .toolbarbutton-icon {
  border: 3px solid #2f343e !important;
  padding: 4px !important;
  border-radius: 5px !important;
  transform: translateY(1px);
}

.tabs-newtab-button:hover .toolbarbutton-icon {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

/* container color tab-line */
.tab-line[selected="true"] {
  background-color: var(--identity-tab-color, var(--tab-line-color)) !important;
  filter: brightness(0.85);
}

.tab-bottom-line {
  visibility: collapse !important;
}

/* tabs hover */
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
  background-color: rgba(255, 255, 255, 0.075) !important;
}

/* tabs overlay icons */
.tab-icon-overlay {
  margin-top: 0 !important;
  transform: scale(0.8) translateX(-4px);
  padding: 2px;
  opacity: .75;
  background-color: #0a84ff !important;
  transition: transform .1s ease, opacity .1s ease;
}

.tab-icon-overlay:hover {
  transform: scale(1) translateX(-4px);
  opacity: 1;
}

/* tabs toolbar */
#TabsToolbar:not([collapsed="true"]) + #nav-bar {
  border: 0 !important;
}

/* nav bar */
#back-button {
  margin-left: 3px !important;
}

/* toolbar buttons */
toolbar {
  --toolbarbutton-inner-padding: 4px !important;
  --toolbarbutton-hover-background: rgba(0, 0, 0, 0.15) !important;
  --toolbarbutton-active-background: rgba(0, 0, 0, 0.15) !important;
  padding-right: 5px !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  width: calc(2 * var(--toolbarbutton-inner-padding) + 17px) !important;
}

.toolbarbutton-animatable-box[brighttext],
toolbar[brighttext] .toolbarbutton-animatable-box,
toolbar[brighttext] .toolbarbutton-1 {
  fill: #979a9f !important;
}

.toolbarbutton-animatable-box[brighttext]:hover,
toolbar[brighttext] .toolbarbutton-animatable-box:hover,
toolbar[brighttext] .toolbarbutton-1:hover {
  fill: #b6b8bb !important;
}

/* urlbar */
#urlbar,
.searchbar-textbox {
  border-color: #262a32 !important;
  box-shadow: none !important;
  font-size: 95% !important;
  max-height: 24px;
}

#urlbar-display-box {
  border-inline-start: none !important;
}

.urlbar-input {
  color: #979a9f !important;
}

.urlbar-input[focused="true"] {
  color: #b6b8bb !important;
}

.urlbar-icon {
  fill: #979a9f !important;
}

.urlbar-icon:hover {
  fill: #b6b8bb !important;
}

#urlbar-zoom-button {
  padding: 2px 4px !important;
  border-radius: 3px !important;
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: none !important;
  color: #979a9f !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity,
#urlbar[pageproxystate="valid"] > #identity-box.chromeUI,
#urlbar[pageproxystate="valid"] > #identity-box.extensionPage,
#urlbar-display-box {
  border-inline-end: 0 !important;
  margin-inline-end: 6px !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #identity-icon-labels:-moz-lwtheme-brighttext {
  color: #058B00 !important;
}

#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
  fill: #058B00 !important;
}

#identity-box {
  color: #979a9f !important;
  fill: #979a9f !important;
}

#identity-box > image {
  transform: scale(0.75);
}

#identity-box:hover:not(.no-hover):not([open="true"]),
#identity-box:hover:active:not(.no-hover),
#identity-box[open="true"],
.urlbar-icon:hover,
.urlbar-icon-wrapper:hover,
.urlbar-icon:hover:active,
.urlbar-icon-wrapper:hover:active,
.urlbar-icon[open],
.urlbar-icon-wrapper[open] {
  background-color: rgba(0, 0, 0, 0.15) !important;
  color: #b6b8bb !important;
  fill: #979a9f !important;
}

[uidensity="compact"]:root .urlbar-icon {
  height: 26px !important;
  padding: 6px !important;
}

#userContext-icons {
  transform: scale(0.8);
  filter: brightness(0.85);
}

#userContext-icons #userContext-label {
  transform: translateY(1px);
}

#pageActionSeparator {
  width: 0 !important;
  border-inline-start: 0 !important;
  margin: 0 !important;
}

/* navigator toolbox */
#navigator-toolbox::after {
  border-bottom: 0 !important;
}

/* bookmarks toolbar */
[uidensity="compact"]:root toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin: 3px 3px 5px !important;
}

[uidensity="compact"]:root toolbarbutton.bookmark-item:not(.subviewbutton):first-child {
  margin-left: 0 !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 4px 6px !important;
  font-size: 95% !important;
}

/* panel */
panelview {
  --arrowpanel-dimmed: rgba(0, 0, 0, 0.15) !important;
  --arrowpanel-dimmed-further: #262a32 !important;
  background-color: #2f343e !important;
  color: #979a9f !important;
}

panel toolbarbutton:not(.panel-subview-footer) {
  border-radius: 3px;
  padding: 6px 12px !important;
  margin: 0 6px !important;
}

panel toolbarbutton:hover {
  color: #b6b8bb !important;
}

panel .subviewbutton[shortcut]::after {
  font-size: 50%;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2px 4px;
  border-radius: 3px;
}

panel .subview-subheader {
  font-weight: 300 !important;
  text-transform: uppercase !important;
  padding: 6px 12px !important;
  margin: 0 6px !important;
}

panel .panel-header > label {
  text-transform: uppercase !important;
}

panel .identity-popup-connection-secure {
  color: #058B00 !important;
}

#identity-popup[connection^="secure"] .identity-popup-security-content {
  fill: #058B00 !important;
}

.panel-arrowcontent {
  border: 0 !important;
  box-shadow: none !important;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.25) !important;
  margin: 5px 5px !important;
  border-radius: 3px;
  overflow: hidden;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  transform: translateY(1px) scale(0.75) !important;
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="10"><path d="M 0,10 L 10,0 20,10 z" fill="hsl(220, 13.8%, 21.4%)"/><path d="M 1,10 L 10,1 19,10 z" fill="hsl(220, 13.8%, 21.4%)"/></svg>') !important;
}

.panel-arrow[side="left"],
.panel-arrow[side="right"] {
  transform: translateX(1px) scale(0.75) !important;
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="20"><path d="M 10,0 L 0,10 10,20 z" fill="hsl(220, 13.8%, 21.4%)"/><path d="M 10,1 L 1,10 10,19 z" fill="hsl(220, 13.8%, 21.4%)"/></svg>') !important;
}

/* autocomplete */
#PopupAutoCompleteRichResult {
  background-clip: padding-box !important;
}

#PopupAutoCompleteRichResult .search-one-offs {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
}

panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"] {
  background-color: #262a32 !important;
  border: none !important;
}

.autocomplete-richlistitem {
  font-size: 95% !important;
  color: #979a9f !important;
}

.autocomplete-richlistitem .ac-separator {
  color: rgba(0, 0, 0, 0) !important;
}

.autocomplete-richlistitem .ac-url:not([selected="true"]) {
  font-weight: bold;
  font-size: 90% !important;
  color: #0a84ff;
}

.autocomplete-richlistitem .ac-url[selected="true"] {
  color: rgba(0, 0, 0, 0.65) !important;
}

.autocomplete-richlistitem .ac-action {
  color: #4e535b !important;
}

.autocomplete-richlistitem:hover {
  color: #b6b8bb !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

.autocomplete-richlistitem:hover .ac-action {
  color: #0a84ff !important;
  font-weight: bold;
}

.autocomplete-richlistitem[selected="true"] {
  background-color: #006bd6 !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-weight: bold !important;
}

.autocomplete-richlistitem[selected="true"] .ac-action {
  color: rgba(0, 0, 0, 0.65) !important;
}

/* menupopup */
menupopup {
  -moz-appearance: none !important;
}

menupopup menupopup {
  transform: translateY(-5px);
  padding-top: 1px;
}

menupopup > .popup-internal-box {
  background-color: #2f343e !important;
  margin: 5px 5px !important;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.25) !important;
  border-radius: 3px;
  overflow: hidden;
  padding: 6px 0;
}

menuseparator {
  -moz-appearance: none;
  height: 10px;
}

menu,
menuitem,
menuitem[type="radio"],
menuitem[type="checkbox"],
menuitem[type="checked"],
menucaption {
  -moz-appearance: none !important;
  padding: 5px;
  color: #979a9f !important;
  padding: 6px 12px !important;
  margin: 0 6px !important;
  border-radius: 3px;
}

menu[_moz-menuactive="true"]:not([disabled="true"]),
menuitem[_moz-menuactive="true"]:not([disabled="true"]) {
  color: #b6b8bb !important;
  background: rgba(0, 0, 0, 0.15) !important;
}

menu[disabled="true"],
menuitem[disabled="true"],
menucaption[disabled="true"] {
  color: #4e535b !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

findbar {
  --toolbarbutton-hover-background: rgba(0, 0, 0, 0) !important;
  --toolbarbutton-active-background: rgba(0, 0, 0, 0) !important;
  border-top: none !important;
  background-color: #2f343e !important;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.25) !important;
  position: relative;
  padding: 4px 0 !important;
  opacity: 1 !important;
  transition: none !important;
}

findbar [anonid="findbar-textbox-wrapper"] {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2) !important;
}

findbar .findbar-textbox {
  border-radius: 3px 0 0 3px !important;
  border: none !important;
  box-shadow: none !important;
  background: none !important;
  color: #979a9f !important;
}

findbar .findbar-textbox[focused="true"] {
  color: #b6b8bb !important;
}

findbar .findbar-find-previous,
findbar .findbar-find-next {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

findbar .findbar-find-previous .toolbarbutton-icon,
findbar .findbar-find-next .toolbarbutton-icon {
  transform: scale(0.75);
}

findbar .findbar-find-previous:hover,
findbar .findbar-find-next:hover {
  background: rgba(0, 0, 0, 0.2) !important;
}

findbar .findbar-button {
  margin-left: 10px !important;
  padding: 0 2px 0 6px !important;
  border-radius: 3px !important;
  font-weight: 400;
}

findbar .findbar-button::before {
  content: '✔';
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px;
  padding: 0 2px;
  color: rgba(0, 0, 0, 0);
  transition: color .2s ease;
}

findbar .findbar-button:hover {
  color: #b6b8bb !important;
}

findbar .findbar-button[checked="true"]::before {
  color: #0a84ff !important;
}

findbar .findbar-container > .findbar-find-fast {
  font-weight: 700;
  margin-left: 20px !important;
  transform: translateY(1px);
  color: #0a84ff !important;
}
