/* fix for dark gtk themes */
body, input, textarea {
  color: #000;
  background-color: #fff;
}

/* activity stream theme */
body.activity-stream {
  background-color: hsl(220, 13.8%, 17.4%) !important;
}

.activity-stream .section-title span,
.activity-stream .edit-topsites-wrapper .edit-topsites-button button {
  color: rgba(255,255,255,.5) !important;
  fill: rgba(255,255,255,.5) !important;
}

.activity-stream .top-sites-list .top-site-outer:hover .tile,
.activity-stream  .top-sites-list .top-site-outer:focus .tile,
.activity-stream  .top-sites-list .top-site-outer.active .tile {
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) !important;
}

.activity-stream .top-sites-list .top-site-outer .top-site-icon {
  box-shadow: none !important;
}

.activity-stream .top-sites-list .top-site-outer .title {
  color: rgba(255,255,255,.5) !important;
}

.activity-stream .section-top-bar .info-option-icon {
  fill: rgba(255,255,255,.5) !important;
}

.activity-stream .prefs-pane-button button {
  fill: rgba(255,255,255,.5) !important;
  background-size: 13px !important;
}
.activity-stream .prefs-pane-button button:hover {
  background-color: #1E2228 !important;
  border-radius: 4px !important;
}

.activity-stream .top-sites-list .top-site-outer .context-menu-button {
  border: 0 !important;
  background-color: #1E2228 !important;
  fill: rgba(255, 255, 255, .5) !important;
  background-size: 13px !important;
}
.activity-stream .top-sites-list .top-site-outer:hover .context-menu-button,
.activity-stream .top-sites-list .top-site-outer:focus .context-menu-button,
.activity-stream .top-sites-list .top-site-outer.active .context-menu-button {
  transform: scale(1) !important;
}
