/* autocomplete */

#PopupAutoCompleteRichResult {
  background-clip: padding-box !important;
}

#PopupAutoCompleteRichResult .search-one-offs {
  border-bottom: 2px solid $tertiary-background-color !important;
}

panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"] {
  background-color: $secondary-background-color !important;
  border: none !important;
}

.autocomplete-richlistitem {
  font-size: $toolbar-fontsize !important;
  color: $text-color !important;

  .ac-separator {
    color: $u-reset-color;
  }

  .ac-url:not([selected="true"]) {
    font-weight: bold;
    font-size: 90% !important;
    color: $accent-color !important;
  }

  .ac-url[selected="true"] {
    color: $accent-background-text-color-secondary !important;
  }

  .ac-action {
    color: $text-color-disabled !important;
  }
}

.autocomplete-richlistitem:hover {
  color: $text-color-hover !important;
  background-color: $background-color-hover !important;

  .ac-action {
    color: $accent-color !important;
    font-weight: bold;
  }
}

.autocomplete-richlistitem[selected="true"] {
  background-color: $accent-background-color !important;
  color: $accent-background-text-color !important;
  font-weight: bold !important;

  .ac-action {
    color: $accent-background-text-color-secondary !important;
  }
}
