/* autocomplete */

#PopupAutoCompleteRichResult {
  background-clip: padding-box !important;
}

#PopupAutoCompleteRichResult .search-one-offs {
  -moz-appearance: none !important;
  background-color: $background-color !important;
  border-bottom: 2px solid darken($secondary-background-color, 2%) !important;
  //height: 69px;
  //overflow: hidden;

  &:has(.dummy) {
    height: 2px;
    background-color: darken($secondary-background-color, 2%) !important;
  }

  .search-panel-header,
  .search-panel-one-offs {
    background-color: $background-color !important;
  }

  .search-panel-header {
    padding: 3px 8px !important;
  }

  .search-panel-one-offs {
    padding-left: 5px !important;
    height: 53px !important;
    transform: translateY(-4px);
  }

  .searchbar-engine-one-off-item:not(.dummy) {
    margin: 0 8px 0 0 !important;
    border-radius: $border-radius*2 !important;
    border: 3px solid $background-color !important;
    //box-shadow: inset 0 0 0 2px $background-color !important;

    &:hover {
      background-color: $tertiary-background-color !important;
    }

    &.search-setting-button-compact {
      box-sizing: border-box !important;
    }
  }

  .searchbar-engine-one-off-item.dummy {
    display: none !important;
  }
}

panel[type="autocomplete"],
panel[type="autocomplete-richlistbox"] {
  background-color: $secondary-background-color !important;
  border: none !important;
}

.autocomplete-richlistitem {
  font-size: $toolbar-fontsize !important;
  color: $text-color !important;

  .ac-separator {
    color: $u-reset-color;
  }

  .ac-url:not([selected="true"]) {
    font-weight: bold;
    font-size: 90% !important;
    color: $accent-color !important;
  }

  .ac-url[selected="true"] {
    color: $accent-background-text-color-secondary !important;
  }

  .ac-action {
    color: $text-color-disabled !important;
  }
}

.autocomplete-richlistitem:hover {
  color: $text-color-hover !important;
  background-color: $background-color-hover !important;

  .ac-action {
    color: $accent-color !important;
    font-weight: bold;
  }
}

.autocomplete-richlistitem[selected="true"] {
  background-color: $accent-background-color !important;
  color: $accent-background-text-color !important;
  font-weight: bold !important;

  .ac-action {
    color: $accent-background-text-color-secondary !important;
  }
}
