:root {
  --chrome-background-color: #{$background-color} !important;
  --chrome-secondary-background-color: #{$secondary-background-color} !important;

  --url-and-searchbar-background-color: #{$tertiary-background-color} !important; // deprecated?
  --lwt-toolbar-field-background-color: #{$tertiary-background-color} !important;

  --chrome-color: #{$text-color} !important;
  --lwt-text-color: #{$text-color} !important;

  --chrome-nav-bar-controls-border-color: #{$u-reset-color};
  --panel-separator-color: #{$u-reset-color};
}

.browserContainer {
  background-color: $background-color !important;
}
