/* panel */

panelview {
  --arrowpanel-dimmed: #{$background-color-hover} !important;
  --arrowpanel-dimmed-further: #{$secondary-background-color} !important;
  background-color: $background-color !important;
  color: $text-color !important;
}

panel toolbarbutton:not(.panel-subview-footer) {
  border-radius: $border-radius !important;
  padding: 6px 12px !important;
  margin: 0 6px !important;
}

panel toolbarbutton:hover {
  color: $text-color-hover !important;
}

panel .subviewbutton[shortcut]::after {
  font-size: 50%;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: $info-background-color !important;
  padding: 2px 4px;
  border-radius: $border-radius !important;
}

panel .subview-subheader {
  font-weight: 300 !important;
  text-transform: uppercase !important;
  padding: 6px 12px !important;
  margin: 0 6px !important;
}

panel .panel-header > label {
  text-transform: uppercase !important;
}

panel .identity-popup-connection-secure {
  color: $text-color-success !important;
}

#identity-popup[connection^="secure"] .identity-popup-security-content {
  fill: $text-color-success !important;
}

.panel-arrowcontent {
  border: 0 !important;
  box-shadow: none !important;
  box-shadow: $popup-box-shadow !important;
  margin: 5px 5px !important;
  border-radius: $border-radius !important;
  overflow: hidden;
}

.panel-arrow[side="top"],
.panel-arrow[side="bottom"] {
  transform: translateY(1px) scale(0.75) !important;
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="10"><path d="M 0,10 L 10,0 20,10 z" fill="#{$popup-arrow-color}"/><path d="M 1,10 L 10,1 19,10 z" fill="#{$popup-arrow-color}"/></svg>') !important;
}

.panel-arrow[side="left"],
.panel-arrow[side="right"] {
  transform: translateX(1px) scale(0.75) !important;
  list-style-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="20"><path d="M 10,0 L 0,10 10,20 z" fill="#{$popup-arrow-color}"/><path d="M 10,1 L 1,10 10,19 z" fill="#{$popup-arrow-color}"/></svg>') !important;
}
