/* activity stream theme

.activity-stream {
  background-color: hsl(220, 13.8%, 17.4%) !important;
  overflow: auto !important;

  .section-title span {
    color: $text-color;
    fill: $text-color;
  }

  .section-title:hover span {
    color: $text-color-hover;
    fill: $text-color-hover;
  }
}



.activity-stream .top-sites-list .top-site-outer:hover .tile,
.activity-stream  .top-sites-list .top-site-outer:focus .tile,
.activity-stream  .top-sites-list .top-site-outer.active .tile {
  box-shadow: 0 0 0 5px rgba(0,0,0,.2) !important;
}

.activity-stream .top-sites-list .top-site-outer .top-site-icon {
  box-shadow: none !important;
}

.activity-stream .top-sites-list .top-site-outer .title {
  color: rgba(255,255,255,.5) !important;
}

.activity-stream .section-top-bar .info-option-icon {
  fill: rgba(255,255,255,.5) !important;
}

.activity-stream .prefs-pane-button button {
  fill: rgba(255,255,255,.5) !important;
  background-size: 13px !important;
}
.activity-stream .prefs-pane-button button:hover {
  background-color: #1E2228 !important;
  border-radius: 4px !important;
}

.activity-stream .top-sites-list .top-site-outer .context-menu-button {
  border: 0 !important;
  background-color: #1E2228 !important;
  fill: rgba(255, 255, 255, .5) !important;
  background-size: 13px !important;
}
.activity-stream .top-sites-list .top-site-outer:hover .context-menu-button,
.activity-stream .top-sites-list .top-site-outer:focus .context-menu-button,
.activity-stream .top-sites-list .top-site-outer.active .context-menu-button {
  transform: scale(1) !important;
}


.activity-stream {
  // General styles
  --newtab-background-color: $grey-80;
  --newtab-border-primary-color: $grey-10-80;
  --newtab-border-secondary-color: $grey-10-10;
  --newtab-button-primary-color: $blue-60;
  --newtab-button-secondary-color: $grey-70;
  --newtab-element-active-color: $grey-10-20;
  --newtab-element-hover-color: $grey-10-10;
  --newtab-icon-primary-color: $grey-10-80;
  --newtab-icon-secondary-color: $grey-10-40;
  --newtab-icon-tertiary-color: $grey-10-40;
  --newtab-inner-box-shadow-color: $grey-10-20;
  --newtab-link-primary-color: $blue-40;
  --newtab-link-secondary-color: $pocket-teal;
  --newtab-text-conditional-color: $grey-10;
  --newtab-text-primary-color: $grey-10;
  --newtab-text-secondary-color: $grey-10-80;
  --newtab-text-tertiary-color: $grey-10-60;
  --newtab-textbox-background-color: $grey-70;
  --newtab-textbox-border: $grey-10-20;
  @include textbox-focus($blue-40); // sass-lint:disable-line mixins-before-declarations

  // Context menu
  --newtab-contextmenu-background-color: $grey-60;
  --newtab-contextmenu-button-color: $grey-80;

  // Modal + overlay
  --newtab-modal-color: $grey-80;
  --newtab-overlay-color: $grey-90-80;

  // Sections
  --newtab-section-header-text-color: $grey-10-80;
  --newtab-section-navigation-text-color: $grey-10-80;
  --newtab-section-active-contextmenu-color: $white;

  // Search
  --newtab-search-border-color: $grey-10-20;
  --newtab-search-dropdown-color: $grey-70;
  --newtab-search-dropdown-header-color: $grey-60;
  --newtab-search-icon-color: $grey-10-60;

  // Top Sites
  --newtab-topsites-background-color: $grey-70;
  --newtab-topsites-icon-shadow: none;
  --newtab-topsites-label-color: $grey-10-80;

  // Cards
  --newtab-card-active-outline-color: $grey-60;
  --newtab-card-background-color: $grey-70;
  --newtab-card-hairline-color: $grey-10-10;
  --newtab-card-shadow: 0 1px 8px 0 $grey-90-20;

  // Snippets
  --newtab-snippets-background-color: $grey-70;
  --newtab-snippets-hairline-color: $white-10;
}
*/
